.container {
    display: flex;
    flex-direction: column;
}

.list {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 100%;
}

.btn {
    padding: 16px 32px;
    border: 1px solid rgba(71, 84, 103, 0.2);
    border-radius: 200px;
    background-color: transparent;
    margin: 50px auto 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #101828;
    align-self: center;
}

.btn:hover,
.btn:focus {
    border: 1px solid #e44848;
    cursor: pointer;
}