.container {
    min-height: calc(100vh - 80px);
    display: flex;
    align-items: start;
    justify-content: flex-start;
    background-image: url('../../../public/img/camper-van.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
}

.title {
    font-weight: 500;
    font-size: 48;
    color: #fff;
}