.container {}

.title {}

.price {}

.imgBox {
  display: flex;
  height: 310px;
  gap: 16px;

  /* width: 290px;
  flex-shrink: 0;
  overflow: hidden; */
}

.img {
  width: 290px;
  height: 310px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  flex-shrink: 0;
  flex-grow: 1;
}

.description {
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  margin-top: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #475467; */
}

.tabBtnBox {}

.featuresBtn {}

.reviewsBtn {}

.tabBox {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.leftBox {
  width: 448px;

}

.rightBox {
  width: 448px;
}

/* .btn:hover,
.btn:focus {
    background-color: #d84343;
    cursor: pointer;
} */