.container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 64px;
    max-width: 1440px;
    padding: 24px 64px;
    margin: 0 auto;
}

.filterBox {
    width: 360px;
    flex-grow: 1;
    flex-shrink: 0;
}

.advertListBox {
    width: 888px;
}