.container {
    width: 100%;
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(16, 24, 40, 0.6);
    margin-bottom: 8px;
}

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 8px;
}

.sectionTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    border-bottom: 1px solid #ccc;
    padding-bottom: 24px;
    margin-bottom: 24px;
    /* margin: 24px 0 24px 0; */
    /* margin-top: 10px; */
}

.locationBox {
    position: relative;
    margin-bottom: 32px;
}

.locationIconBox {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.input {
    width: 100%;
    padding: 18px 18px 18px 30px;
    border-radius: 10px;
    font-size: 16px;
    background: #f7f7f7;
    border: none;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 64px;
}

.item {
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 10px;
}

.item:hover,
.item:focus,
.item.selected {
    border: 1px solid #e44848;
    cursor: pointer;
}

.itemDescription {
    text-align: center;
}

.itemLabel {
    padding: 17px;
    width: 114px;
    height: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.checkBox {
    display: none;
}

.btn {
    padding: 16px 60px;
    border: 1px solid #E44848;
    border-radius: 200px;
    background-color: #E44848;
    align-self: start;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #fff;
}

.btn:hover,
.btn:focus {
    background-color: #d84343;
    cursor: pointer;
}